.contenedor-barraNav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.barraNavegacion{
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FEFFE0;
}

.logo{
    width: 100px;
    height: 100px;
}